.header__logo {
  width: 142px;
  margin-bottom: 40px;
}

@media screen and (max-width: 637px) {
  .header__logo {
    width: calc(142px - (637px - 100vw)*38/300);
    margin-bottom: calc(40px - (637px - 100vw)/25);
  }
}

@media screen and (max-width: 337px) {
  .header__logo {
    width: 104px;
    margin-bottom: 31.6px;
  }
}