.header__line {
  width: 100%;
  padding-bottom: 1px;
  background-color: #545454;
}

@media screen and (max-width: 637px) {
  .header__line {
    width: calc(580px - (637px - 100vw)*26/30);
    align-self: center;
  }
}

@media screen and (max-width: 337px) {
  .header__line {
    width: calc(100vw - 17px);
  }
}