.cards__place {
  margin: 0;
  padding: 0;
  max-width: 210px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.15;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}