.profile__about {
  margin: 16px 0 0;
  padding: 0;
  max-width: calc(var(--main-width) - 336px);
  font-size: 18px;
  line-height: 1.15;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 937px) {
  .profile__about {
    font-size: calc(18px - (937px - 100vw)/150);
  }
}

@media screen and (max-width: 637px) {
  .profile__about {
    max-width: var(--main-width);
    text-align: center;
    margin-top: 14px;
  }
}